@import '../../../Shared/styles/mixins.scss';
@import '../../../Shared/styles/variables.scss';

.sidenav {
    padding: 0px 10px;
    @include flex($direction: column, $justify: flex-start); 
    height: 100%;
    background-color: $itvitae-dark-blue;
}