@import '../../../Shared/styles/variables.scss';

mat-card {

    height: 10rem;

    &-subtitle {
        font-size: smaller;
    }

    transition: background-color .35s ease;
    background-color: white;

    &:hover {
        background-color: $itvitae-blue;
        cursor: pointer;
    }
}

mat-divider {
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}