@import '../../../Shared/styles/mixins.scss';
@import '../../../Shared/styles/variables.scss';


.header {
    width: 100%;
    height: 5em;
    @include flex;
    background-color: $itvitae-dark-blue;
}