
<div class="container-fluid">
    <div class="row">
        <app-header class="no-pad"></app-header>
    </div>
    <div class="row content-row">
        <div class="col-auto no-pad">
            <app-sidenav>
                <app-sidenav-button route="/" label="Home">
                    <mat-icon>home</mat-icon>
                </app-sidenav-button>
                <app-sidenav-button route="/assignment-overview" label="View Assignments">
                    <mat-icon>dataset</mat-icon>
                </app-sidenav-button>
                <app-sidenav-button route="/create-assignment" label="Create an Assignment">
                    <mat-icon>add</mat-icon>
                </app-sidenav-button>
            </app-sidenav>
        </div>
        <div class="col content-col">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>